exportPattern("^[^\\.]")
import( lubridate )
importFrom( pracma, strRep )
importFrom( pracma, strcat )
importFrom( pracma, grad )
importFrom( pracma, ceil )
import( xts )
importFrom( zoo, index )
importFrom( inline, cxxfunction )
import( ggplot2 )
import( grid )
importFrom( pander, pandoc.table.return )
importFrom( stringr, str_split )
import( ismev )
import( extRemes )
import( parallel )
importFrom( animation, saveHTML )
importFrom( animation, ani.options )
importFrom( markdown, markdownToHTML )
importFrom( latex2exp, TeX )
import( shinydashboard )
importFrom( shinydashboard, box )
importFrom( shinydashboard, dashboardPage )
importFrom( shinydashboard, dashboardSidebar )
importFrom( shinydashboard, dashboardBody )
importFrom( shinydashboard, dashboardHeader )
import( shiny )
import( dygraphs )
importFrom( RCurl, getURL )
importFrom( RColorBrewer, brewer.pal )
importFrom( deseasonalize, ds )
importFrom( moments, skewness )
importFrom( grDevices, rgb )
importFrom( methods, signature )
importFrom( stats, runif )
S3method( ttplot, xts )
S3method( ttplot, ts )
S3method( ttplot, list )
S3method( block, default )
S3method( block, xts )
S3method( convert.date, Date )
S3method( convert.date, character )
S3method( convert.date, integer )
S3method( convert.date, numeric )
S3method( plot, climex.gev.fit )
