body {
    color: #191970 !important;
}
.main-header .logo   {
    color: #222D32 !important;
    background-color: #FF8C00 !important;
    font-weight: bold;
    font-size: 24px;
}
.main-header > .navbar, .sidebar-toggle, dropdown-toggle, .main-header > .navbar, .navbar-nav > .tasks-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu > li.header, .main-header h3 {
    background-color: #222D32 !important;
    color: #FFFFFF !important;
    border-bottom: #222D32 !important;
}
.alert-warning, .label-warning {
    colour: #FF8C00 !important;
    background-color: #FF8C00 !important;
}

h3 small {
    color: #FFFFFF;
}
.box-body label {
    color: #191970;
}
.main-sidebar .selectize-control, .main-sidebar .selectize-input.full, .main-sidebar .selectize-dropdown {
    color: #FFFFFF !important;
    background-color: #222D32 !important;
}
.main-sidebar .selectize-control.single {
    border-color: #222D32;
}
.main-sidebar .selectize-input {
    border: 1px solid #FFFFFF !important;
}
.main-sidebar .selectize-input, .main-sidebar .selectize-input.input-active, .main-sidebar dropdown-active {
    background-color: #222D32 !important;
    color: #FFFFFF !important;			  
}
.main-sidebar dropdown-active {
    color: #FFFFFF !important;
    background: #222D32 !important;
}
.main-sidebar .selectize-input::after, .main-sidebar .selectize-control.single  {
    border-color: #FFFFFF transparent transparent !important;
}
.content .selectize-dropdown, .content .selectize-input.full, .content .selectize-control {
    color: #191970 !important;
    background-color: #FF8C00 !important;
}
.content h2 {
    color: #191970;
}
.box.box-primary {
    border-top-color: #191970 !important;
    box-shadow: 0 1px 1px #191970 !important;
}
.bg-orange {
    background-color: #FF8C00 !important;
    color: #191970 !important;
    box-shadow: 0 1px 1px #191970 !important;
}
.nav-tabs-custom {
    box-shadow: 0 1px 1px #191970 !important;
}
.box-body .irs-line {
    border: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
}
.box.body .irs.bar {
    border-top: 1px solid #191970 !important;
    border-bottom: 1px solid #191970 !important;
    background: #191970 !important;
}
.box-body .irs-min, .box-body .irs-max, .box-body .irs-grid-text {
    color: #191970 !important;
    background: #FF8C00 !important;
}
.box-body .irs-from, .box-body .irs-to, .box-body .irs-single, .box-body .irs-grid-pol, .box-body .irs-grid-pol.small {
    background: #191970 !important;
}
.box-body .irs.slider {
    border: 1px solid #AAAAAA !important;
    background: #FFFFFF !important;
}
.box-body input[type="radio"] {
    background: #FF8C00 !important;
}
.box-body .selectize-input::after, .box-body .selectize-control.single  {
    border-color: #191970 transparent transparent !important;
}
.box-body .selectize-input {
    border: 1px solid #191970 !important;
}
.box-body dropdown-active {
    color: #191970 !important;
    background: #FF8C00 !important;
}
.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    border: 1px solid #191970 !important;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #191970 !important;
}
.nav-tabs-custom > .nav-tabs > li > a {
    color: #191970 !important;
}
.nav-tabs-custom > .nav-tabs > li.active:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a {
    color: #FF8C00 !important;
}
.content element {
    color: #191970 !important;
}
dygraph-axis-label {
    color: #191970 !important;
}
.btn-default {
    color: #191970 !important;
    border-color: #191970 !important;
    background-color: #FF8C00 !important;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #FF8C00 !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #191970 !important;
    border-bottom: 1px solid #191970 !important;
}
.table > thead > tr > th {
    border-bottom: 2px solid #191970 !important;
}
tfoot {
    display: none !important;
}
.bg-orange .table > tbody > tr > th {
    border-top: 1px solid #FFFFFF !important;
}
.bg-oragne .table > tbody > tr > ts {
    border-bottom: 1px solid #FFFFFF !important;
}