body {
  color: #191970 !important;
}
.main-header .logo   {
  color: #222D32 !important;
  background-color: #FF8C00 !important;
  font-weight: bold; !important;
  font-size: 24px; !important;
}
#climexLink {
  color: #222D32 !important;
  font-weight: bold; !important;
  font-size: 24px; !important;
}
.main-header > .navbar, .sidebar-toggle, dropdown-toggle, .main-header > .navbar, .navbar-nav > .tasks-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu > li.header, .main-header h3 {
  background-color: #222D32 !important;
  color: #FFFFFF !important;
  border-bottom: #222D32 !important;
}
.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #FF8C00 !important;
}
.alert-warning, .label-warning {
  colour: #FF8C00 !important;
  background-color: #FF8C00 !important;
}
h3 small {
  color: #FFFFFF;
}
.box-body label {
  color: #191970; !important;
  font-size: 115%; !important;
}
.main-sidebar .selectize-control, .main-sidebar .selectize-input.full, .main-sidebar .selectize-dropdown {
  color: #b8c7ce !important;
  background-color: #222D32 !important;
}
.main-sidebar .selectize-control.single {
  border-color: #222D32;
}
.main-sidebar .selectize-input {
  border: 1px solid #b8c7ce !important;
}
.main-sidebar .selectize-input, .main-sidebar .selectize-input.input-active, .main-sidebar dropdown-active {
  background-color: #222D32 !important;
  color: #b8c7ce !important;			  
}
.main-sidebar dropdown-active {
  color: #b8c7ce !important;
  background: #222D32 !important;
}
.main-sidebar .selectize-input::after, .main-sidebar .selectize-control.single  {
  border-color: #b8c7ce transparent transparent !important;
}
.content .selectize-dropdown, .content .selectize-input.full, .content .selectize-control {
  color: #191970 !important;
  background-color: #FF8C00 !important;
}
/* increase the size of the boxes titles (including the one for the navbox)*/
.box-header h2, .nav-tabs-custom > .nav-tabs > li.header {
  color: #191970; !important;
  font-weight: bold; !important;
  font-size: 150%; !important;
}
/* I want the colorful part of the slider to have the same color as the bars in the histogram */
.content .irs-bar, .content .irs-bar-edge {
  background-color: #191970 !important;
  border-bottom-color: #2525a7 !important;
  border-top-color: #2525a7 !important;
  border-left-color: #2525a7 !important;
  border-right-color: #2525a7 !important;
}
.box.box-primary {
  border-top-color: #191970 !important;
  box-shadow: 0 2px 2px #191970 !important;
}
.bg-orange {
  background-color: #FF8C00 !important;
  color: #191970 !important;
  box-shadow: 0 2px 2px #191970 !important;
}
.nav-tabs-custom {
  box-shadow: 0 2px 2px #191970 !important;
}
.content .irs-line {
  border: 1px solid #AAAAAA !important;
  border-top: 1px solid #AAAAAA !important;
}
.content .irs-min, .content .irs-max,
.content .irs-grid-text {
  color: #191970 !important;
  background: transparent !important;
  font-size: 12px !important;
  line-height: 12px !important;
}
.content .irs-from, .content .irs-to,
.content .irs-single, .content .irs-grid-pol,
.content .irs-grid-pol.small {
  background: #191970 !important;
}
.content .irs.slider {
  border: 1px solid #AAAAAA !important;
  background: #FFFFFF !important;
}
.box-body input[type="radio"] {
  background: #FF8C00 !important;
}
.box-body .selectize-input::after, .box-body .selectize-control.single {
  border-color: #191970 transparent transparent !important;
}
.box-body .selectize-input {
  border: 1px solid #191970 !important;
}
.box-body dropdown-active {
  color: #191970 !important;
  background: #FF8C00 !important;
}
.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
  border: 1px solid #191970 !important;
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #191970 !important;
}
.nav-tabs-custom > .nav-tabs > li > a {
  color: #191970 !important;
}
.nav-tabs-custom > .nav-tabs > li.active:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a {
  color: #FF8C00 !important;
}
.content element {
  color: #191970 !important;
}
dygraph-axis-label {
  color: #191970 !important;
}
.btn-default {
  color: #191970 !important;
  border-color: #191970 !important;
  background-color: #FF8C00 !important;
}
thead > tr {
  background-color: #FF8C00;
}
#DataTables_Table_9 {
  border-color: #FF8C00 !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 1px solid #191970 !important;
  border-bottom: 1px solid #191970 !important;
}
.table > thead > tr > th {
  border-bottom: 2px solid #191970 !important;
  text-align: center !important;
}
tfoot {
  display: none !important;
}
.bg-orange .table > tbody > tr > th {
  border-top: 1px solid #FFFFFF !important;
}
.bg-orange .table > tbody > tr > ts {
  border-bottom: 1px solid #FFFFFF !important;
}
/* Disabling the li marker point for the 
   deseasonalization dropdown menu */
#deseasonalizeSelection {
  list-style-type: none;
}
#buttonMinMax {
  list-style-type: none;
}

/* make the popup table transparent as well */
#tableMap, #tableMap > table > thead > tr {
  background-color: transparent !important;
}
/* disabling the bullet for the box length slider*/
#generalExtremeExtraction {
  list-style-type: none;
}
/* coloring of the two likelihood dataTables */
/* don't fill the odd rows of the columns orange anymore */
#tableInitialPoints > tbody > tr:nth-of-type(n) {
  background-color: #FFFFFF !important;
}
#animation-tableHeuristicEstimates .even,
#animation-tableHeuristicEstimates .odd {
  background-color: #FF8C00 !important;
}
/* Only when all columns have the same width the inputs
   can be place below the right way */
#animation-tableHeuristicEstimates {
  table-layout: fixed !important;
}
table.table-bordered.dataTable {
  border-collapse: collapse !important;
}
#initialTable .shiny-input-container{
  /* children container for the individual numerical input */
  text-align: center;
  float: left;
  position: relative;
  display: inline;
  margin-top: -4%;
}
#boxHeuristic > .box > .box-body > .form-group > .checkbox > label > span {
  font-weight: bold !important;
}
#tableInitialDescription {
  /* paragraph with the description of the numerical input */
  text-align: center;
  float: left;
  display: inline;
  padding: 0px;
}
#initialLocation, #initialScale, #initialShape {
  /* disables the arrows in the right part of the input in firefox */
  -moz-appearance: textfield;
  text-align: center !important;
}
.form-control {
  /* adjust the numerical input forms to the rest of the webapp */
  color: #191970 !important;
  background-color: #FFA333 !important;
  border: 1px solid #191970 !important;
  border-radius: 3px !important;
  font-size: 100% !important;
}
/* I don't want the boxes to become so small the tables are not rendered in a nice way anymore. */
.box-solid {
  min-width: 300px !important;
}
/* fitting the animations in one row of the likelihood box */
.animationClimex {
  display: inline;
  width: 33.3% !important;
  float: left;
  position: relative;
}
/* customize the appearance of the scianimator control panel */
.scianimator .controls, .scianimator .control {
  border: 0px solid !important;
  margin: 0 1% 0 7% !important;
  font-size: 100% !important;
  border-radius: 7px !important; /*display navigator point as real circles*/
}
.scianimator a {
  color: #191970 !important;
}
.scianimator {
  /* else it won't fill the whole box width */
  display: block !important;
}
.scianimator .box a.control.navigator, .scianimator .box a.control.navigator:hover {
  background: #191970 !important;
  box-shadow: 2px 2px 2px 2px #FFA333 inset, 1px 1px 1px 1px #191970 !important;
}
.scianimator .box a.control.navigator.current, .scianimator .box a.control.navigator.currrent:hover {
  background: #FF8C00 !important;
  box-shadow: 2px 2px 2px 2px #191970 inset, 1px 1px 1px 1px #191970 !important;
}
/* a gif image is going to be displayed while the pictures for the animation are generated */
/* since it is displayed in the sidebar, always center it */
/* TODO: not visible on narrow screens */
#busy-loadingGif {
  width: 0%;
  visibility: hidden;
  position: relative !important;
}
/**/
/* boxes and elements in the leaflet map */
/**/
#leaflet-box, #leaflet-markerBox {
  background-color: #FF8C00DD !important;
  padding: 8px;
  border-radius: 9px;
  width: 350px !important;
  right: 15px !important;
}
#leaflet-box .form-group {
  margin-bottom: 0px !important;
}
/* fix the height of the box in order to fix the top-offset
   of the leaflet legend as well */
#leaflet-box {
  height: 250px !important;
}
.leaflet-control-layers {
  background-color: #FF8C00DD !important;
  width: 320px !important;
  /* here I assume the size of #leaflet-markerBox not to change + 10px margin + 17px license */
  bottom: 170.85px !important;
  position: absolute !important;
  right: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 9px !important;
}
/* make the input sliders fill the whole box */
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}
.leaflet-control-layers label {
  display: inline-block !important;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 100 !important;
  font: inherit !important;
  font-size: 120% !important;
  color: #191970 !important;
  margin: 0 25% 0 0 !important;
  text-align: center !important;
  position: relative !important;
  left: 0;
}
.leaflet-top .legend {
  background: #ff8c00dd !important;
  color: #191970 !important;
  position: absolute;
  right: 0px !important;
  top: 231px !important;
  margin-right: 0px !important;
  border-radius: 9px !important;
}
/* I want the leaflet-control panel to be place on top
   and the copyright below the leaflet return level slider */
.leaflet-top, .leaflet-right {
  position: inherit !important;
}
.leaflet-bottom {
  position: absolute !important;
}
.leaflet-control-layers-separator {
  border-top-color: #191970 !important
}
#leaflet-buttonDrawMarkers {
  font-weight: 100 !important;
  font-size: 100% !important;
  /* center the button within the box */
  position: relative !important;
  left: 25% !important;
}

/* display the MathJax text in the same font as everything else */
#math-text {
  font-family: inherit !important;
}

table {
  text-align: center !important;
}

/* Styling the redraw button and sliders related to
   the artificial time series. */
#buttonDrawTS {
  width: 100%;
  font-size: 100% !important;
  border-radius: 5px;
  color: #b8c7ce !important;
  border-color: #b8c7ce !important;
  background-color: #222D32 !important;
}
/* The sliders bar */
.main-sidebar .irs-bar, .main-sidebar .irs-bar-edge {
  background-color: #3e525b !important;
  border-bottom-color: #3e525b !important;
  border-top-color: #3e525b !important;
  border-left-color: #3e525b !important;
  border-right-color: #3e525b !important;
}
/* The sliders values */
.main-sidebar .irs-single, .main-sidebar .irs-min,
.main-sidebar .irs-max, .main-sidebar .irs-grid-text{
  background: none !important;
  color: #b8c7ce !important;
  font-size: 12px !important;
  line-height: 12px !important;
}
.main-sidebar .irs-single {
  color: #fff !important;
}
/* The sliders ticks */
.main-sidebar .irs-from, .main-sidebar .irs-to,
.main-sidebar .irs-grid-pol, .main-sidebar .irs-grid-pol.small,
.main-sidebar .irs-with-grid, .main-sidebar .irs-grid {
  color: #b8c7ce !important;
  background: none !important;
  font-size: 12px !important;
  line-height: 12px !important;
}

/* Adjusting the style of the link to the imprint of the map 
   (only present when running the app using shiny-server) */
#climexImprint {
  font-size: 130%;
  color: #FF8C00;
  padding: 10px 10px 10px 10px;
  width: 100%;
  color: #b8c7ce;
  text-align: center;
}
#sidebarImprint {
  position: absolute !important;
  bottom: 0px;
  width: 100%;
}

/* Alignment of the boxes in the General tab on big screens */
#boxPlotFit {
  width: 66.666666% !important;
}
#boxGevStatistics {
  width: 33.333333% !important;
}
#boxTimeSeries {
  width: 70% !important;
}
#boxGevResults {
  width: 30% !important;
}
/* Fixing the distances between the boxes */
#boxPlotFit, #boxGevResults {
  padding-right: 0px !important;
}

@media screen and (max-width: 1400px){
  /* design for my Aspire S3 */
  #boxPlotFit {
    width: 66.666666% !important;
  }
  #boxGevStatistics {
    width: 33.333333% !important;
  }
  #plotEvd {
    width: 66.666666% !important;
  }
  #plotGOF {
    width: 33.333333% !important;
  }
  #boxGevResults{
    width: 40% !important;
  }
  #boxTimeSeries {
    width: 60% !important;
  }
  #boxStartingPoints {
    width: 60% !important;
    padding-left: 0px !important;
  }
  #boxHeuristic {
    width: 40% !important;
    padding: 0px !important;
  }
  /* the input in the tableHeuristic is not aligned anymore */
  #tableInitialDescription {
    width: 30% !important;
    left: 0px !important;
  }
  #animation-inputInitialLocation {
    margin-left: 4% !important;
  }
  .scianimator .controls, .scianimator .control {
    margin: 0 0 0 10% !important;
  }
}

@media screen and (max-width: 1080px){
  /* assigning individual classes to the box objects in shiny won't do any good, since the
     class definition only enters an inner box and not the parent */
  #boxHeuristic, #boxStartingPoints, #boxGevResults, #boxTimeSeries, #boxGevStatistics, #boxPlotFit {
    display: block !important;
    width: 100% !important;
  }
  /* display the animation plots in one column if the display is getting go narrow */
  .animationClimex {
    display: block;
    width: 100% !important;
  }
  /* adjusting the size of the boxes on the leaflet map */
  #leaflet-box, #leaflet-markerBox {
    width: 250px !important;
  }
  .leaflet-control-layers {
    width: 250px !important;
  }
  #leaflet-buttonDrawMarkers {
    left: 0% !important;
  }
  #boxPlotFit, #boxGevResults {
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 750px){
  #boxHeuristic, #boxStartingPoints, #boxGevResults, #boxTimeSeries, #boxGevStatistics, #boxPlotFit {
    display: block !important;
    width: 100% !important;
  }
  /* display the animation plots in one column if the display is getting go narrow */
  .animationClimex {
    display: block;
    width: 100% !important;
  }
  /* adjusting the size of the boxes on the leaflet map */
  #leaflet-box, #leaflet-markerBox {
    width: 250px !important;
  }
  .leaflet-control-layers {
    width: 250px !important;
  }
  #leaflet-buttonDrawMarkers {
    left: 0% !important;
  }
  #boxPlotFit, #boxGevResults {
    padding-right: 15px !important;
  }

}

@media screen and (max-width: 500px){
  /* Due to reordering and a fixed height the slider and the 
     table in the leaflet map are partly covered */
  #leaflet-box {
    top: 100px !important;
    right: 0px !important;
    margin: 5px 5px 0px 0px !important;
  }
  .skin-blue {
    margin: 0px !important;
  }
  .content {
    padding: 0px !important;
  }
  /* adjusting the size of the boxes on the leaflet map */
  #leaflet-box, #leaflet-markerBox {
    width: 200px !important;
  }
  .leaflet-control-layers {
    width: 200px !important;
  }
  #leaflet-buttonDrawMarkers {
    left: 0% !important;
  }  
  #boxPlotFit, #boxGevResults, #boxGevStatistics, #boxTimeSeries {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  #boxPlotFit .box {
    height: 703px !important;
  }
  #plotEvd {
    width: 100% !important;
    height: 200px !important;
  }
  #plotGOF {
    width: 100% !important;
  }
  #fit-plotFitEvd {
    height: 200px !important;
  }
  #boxGevStatistics {
    height: 352px !important;
  }
  #boxGevStatistics .box-solid {
    height: 340px !important;
  }
  #generalFitStatistics {
    font-size: 75% !important;
  }
  #boxTimeSeries {
    font-size: 98% !important;
  }
  #leaflet-box {
    font-size: 84% !important;
  }
  .leaflet-control-attribution {
    font-size: 75% !important;
  }
}
